extends layout
block content
    if user.is_admin
     div Admin priviledges applied, delete as you like.
    else
     main
      section.form-container
        h1.form-text Become an admin.
        form(action='',method="post")
          div
            label(for='') Enter club code
            input(type='password', placeholder='admin passcode', name='admin_passcode')
          button.action-btn(type='submit') Sumbit
    if errors
       ul.error-msg
        for error in errors
           li!= error.msg