extends layout
block content
    if user.is_club_member
     div You're now a member!
    else
     main
      section.form-container
        h1.form-text Become a member
        form(action='',method="post")
          div
            label(for='') Enter club code
            input(type='text', placeholder='club code', name='club_code')
          button.action-btn(type='submit') Log In
    if errors
       ul.error-msg
        for error in errors
           li!= error.msg
    if error_msg
        div.error-msg #{error_msg}