doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Members Only
    style
      include ../public/stylesheets/style.css
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Cinzel&family=Montserrat&display=swap', rel='stylesheet')
  body
    header
      h1 The Future Engineers Network
      if user
       section.link-collection
        a(href='/create_message') Create Message
        a(href='/profile_picture') Update profile picture
        a(href='/join_club') Join club
        a(href='/admin') Admin
        a(href='/sign_out') Log out
      else 
       section.link-collection
        a(href='/sign_in') Log in
        a(href='/sign_up') Sign up
    block content
    div.spacing
    footer TFEN 2023 --Gbotemi
