extends layout
block content
     main
      section.form-container
        h1.form-text Update profile picture
        form(action='',method="post",enctype='multipart/form-data')
          div
            label(for='') Upload profile picture
            input(type='file', name='myImage')
          button.action-btn(type='submit') Update
     if errors
       ul.error-msg
        for error in errors
           li!= error.msg
     if error_msg
        div.error-msg #{error_msg}