extends layout
block content
    main
      section.form-container
        h1.form-text log in to have access to more info
        form(action='',method="post")
          div
            label(for='') Username:
            input(type='text', placeholder='UserName', name='username')
          div
            label(for='') Password:
            input(type='password', placeholder='password', name='password')
          button.action-btn(type='submit') Log In
    if errors
       ul.error-msg
        for error in errors
           li!= error.msg
    if error_msg
        div.error-msg #{error_msg}